
# Compiled output
bin/
obj/
.idea/

# Visual Studio
.vs
*.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Rider
.idea

# Node
/node_modules

# Project Specific
BenchmarkDotNet.Artifacts
